@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

*{
    /* é criado uma borda automática na pagina, para não ter borda precisa ajustar dessa forma */
    margin: 0;
    padding: 0;
    border: none;
}

.root{
    --primary-color: #459345;
}

body {
    font-family: 'Merriweather', serif;
    /* Cores de fundo foco para blue navi sendo interessante.  #293484 /  #000080 */
    background-color: #293484;
}

header{
    /* Tons de amarelo #fcffa4 / #ff6*/
    background-color: #fcffa4;
    /* Com essa configuração o box sizing consegue centralizar o texto, somente com padding não fica centralizado */
    width: 100%;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a + a {
    margin-left: 32px ;

}

.links a {
    /* Retirada underline */
    text-decoration: none;
    color: #777;
}

.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover{
    text-decoration: underline;
}