@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

*{
    /* é criado uma borda automática na pagina, para não ter borda precisa ajustar dessa forma */
    margin: 0;
    padding: 0;
    border: none;
}
/* criar variáveis do sistema 
para usar a variável: var(--primary-color)*/
.root{
    --primary-color: #459345;
}

body {
    font-family: 'Merriweather', serif;
    /* Cores de fundo foco para blue navi sendo interessante.  #293484 /  #000080 */
    background-color: #293484;
}

header{
    /* Tons de amarelo #fcffa4 / #ff6*/
    background-color: #fcffa4;
    /* Com essa configuração o box sizing consegue centralizar o texto, somente com padding não fica centralizado */
    width: 100%;
    padding: 60px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 18px;
    position: absolute;
    transform: translate(15%,15%);  
}

.links a + a {
    margin-left: 32px ;
}

.links a {
    padding: 16px 34px;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #333;  /* Letras da caixa */
}

a:before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #293484;  /* #fcffa4 mudar para amarelo cor da caixa 293484*/
    z-index:-1;
    transform: scale(0.3);
    transition: .1s;
    visibility: hidden;
}

a:hover{
    color: #fcffa4;

}
a:hover:before{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/* CARD */

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;

    /*espaçamento card central na pagina*/
    margin: 45px auto;

    /* divisão do card*/
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* sombra cartão */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);

    /* animation animation-duration: 200ms;     animation-timing-function: ease-out;*/
    animation: up 500ms ease;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(45px);
    }
    to{
        opacity: 1;
    }
}

/* Detalhes */

.details{
    padding: 32px
}

.details .item{
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    padding: 10px 0px;
}

.details .item:last-child{
    border:none;
}

/* pega o primeiro details item */

.details .item div:nth-child(1){
    color: rgba(30, 30, 30,0.8);
    font-weight: 12px;
    line-height: 24px;
    letter-spacing: 0,7px;
    font-weight: 400;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: 700;
    font-size: 16px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: #293484;
}
/* Caminho para encontrar o item ou basta indicar a classe e objeto que deseja alterar .details .item span*/
.details .item div:nth-child(2) span{
    padding: 8px 16px;
    background-color: #fcffa4;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 4px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

/* FORM */

input{
    width: 100%;
    color: #555;
    font-weight: 700;
    font-size: 16px;
    /* retirar linha envolta do input*/
    outline: none;
}

input[type="radio"]{
    width: initial;
    margin-right: 8px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

input[type="date"]{
    color: rgba(0, 0, 0, 0.8);    
}

button[type="submit"]{
    padding: 8px 24px;
    background-color: #293484;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 16px;
    width:100%;
    font-size: 16px;
    color: white;
    cursor: pointer;
}